$base-color-text: #444444;
$bg-basic-green: #68b738;
$basic-white: #ffffff;
$basic-grey:#f2f2f2;
$basic-black: #000000;
$special-dark-grey: #444444;
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 320px;
