.additional-products__goods {
    font-family: "Oswald", sans-serif;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}

.additional-products__title {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #222222;
}

.additional-products__text {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: $base-color-text;
}

.additional-products__button {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    background-color: $bg-basic-green;
    border: 0;
}