.additional {
  overflow-x: hidden;
}

.additional__wrapper {
  padding: 25px 20px 35px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 70px 30px 75px;
  }

  @media (min-width: $desktop-width) {
    padding: 76px 110px 87px;
  }
}

.additional__title {
  color: #000000;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin: 0 0 34px 0;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 79px 40px;
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 79px 0;
  }
}

.additional__list-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 81px;
    justify-content: space-between;
  }
}

.additional__list {
  display: flex;
  flex-direction: column;
  margin: 0 0 35px 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 70px 0;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;
    margin: 0;
  }
}

.additional__item {
  display: flex;
  flex-direction: column;
  list-style: none;
  min-height: 129px;
  padding: 13px 0 18px;
  border-top: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    min-height: 139px;
    padding: 26px 38px 26px;
    border: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 80px;
    min-height: 71px;
    padding: 15px 0 16px;
    border: none;
    border-top: 1px solid #cdcdcd;
  }
}

.additional__item:last-child {
  border-bottom: 1px solid #cdcdcd;
}

.additional__subtitle {
  color: #222222;
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0 0 13px 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1/2;
    grid-column: 1/2;
    margin: 0;
  }
}

.additional__desc-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
}

.additional__desc,
.additional__price {
  line-height: 14px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.additional__price {
  @media (min-width: $tablet-width) {
    width: 93px;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    width: 93px;
    text-align: start;
    margin-right: -92px;
  }
}

.additional__button {
  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1/2;
    grid-column: -1/-2;
  }
}
