.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 209px;
  list-style: none;
  padding: 20px 20px 25px;
  border-top: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr;
    min-height: 511px;
    background: linear-gradient($basic-white 16%, $basic-grey 16% 100%);
    padding: 28px 37px 40px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 28px 38px 40px;
  }
}

.card__link {
  text-decoration: none;

  &:focus {
    outline-offset: 0;

    @media (min-width: $tablet-width) {
      outline-offset: 48px;
    }

    @media (min-width: $desktop-width) {
      outline-offset: 40px;
    }
  }
}

.card:last-child {
  border-bottom: 1px solid #ebebeb;
}

.card picture {
  @media (min-width: $tablet-width) {
    height: 210px;
    margin-bottom: 3px;
  }
}

.card__title {
  color: #222222;
  width: 76px;
  font-family: $primary-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0 14px 0;

  @media (min-width: $tablet-width) {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    min-width: 135px;
    margin: 0 auto 22px;
  }

  @media (min-width: $desktop-width) {
    margin: -10px auto 25px;
  }
}

.card__list {
  display: flex;
  flex-direction: column;
  margin: 0 0 21px 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    gap: 12px;
    margin: 0 0 37px 0;
  }
}

.card__item {
  display: flex;
  justify-content: space-between;
  list-style: none;

  @media (min-width: $tablet-width) {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #cdcdcd;
    }
  }
}

.card__button {
  grid-column: 1/-1;
}

.card__item-term,
.card__item-desc,
.card__desc-more {
  font-size: 12px;
  line-height: 16px;
}

.card__item-term,
.card__item-desc {
  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.card__item:nth-child(3) .card__item-desc {
  margin-right: 3px;
}

.card--more {
  position: relative;
  grid-template-columns: 1fr;
  text-align: center;
  padding: 78px 20px 25px 20px;

  &::before {
    position: absolute;
    content: "";
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    background-image: url("../../images/icons/stack.svg#plus");

    @media (min-width: $tablet-width) {
      width: 60px;
      height: 60px;
      top: 50px;
    }
  }

  @media (min-width: $tablet-width) {
    min-height: 285px;
    padding: 160px 37px 40px;
    outline: 2px solid $basic-grey;
    background: $basic-white;
  }
}

.card__title--more {
  color: #111111;
  min-width: 100%;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    min-width: 134px;
    text-align: center;
    margin-bottom: 23px;
  }
}

.card__desc-more {
  margin: 0 0 21px 0;

  br {
    @media (max-width: 767px) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 82px 0;
    font-size: 16px;
    line-height: 18px;
  }
}

.card__image {
  margin: 12px 0 0 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 5px 0;
  }
}

.card__image--big {
  margin-top: 3px;

  @media (min-width: $tablet-width) {
    margin-top: -16px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -12px;
  }
}
