.catalog__wrapper {
  padding: 25px 0 0;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 29px 30px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 38px 110px 0;
  }
}

.catalog__title {
  margin: 0 0 38px 20px;

  @media (min-width: $tablet-width) {
    margin: 0 0 84px 0;
  }
}

.catalog__list {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    align-items: end;
    gap: 59px 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    align-items: end;
    gap: 63px 80px;
  }
}
