.contacts__title {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    line-height: 26px;
    color: #111111;
}

.contacts__text {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    color: $base-color-text;
}