.main-title {
  font-family: $primary-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}
