.main-header {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 21px 14px 20px;
}

.main-header__logo {
  height: 38px;
  text-align: center;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    height: 59px;
  }
}

.main-header__image {
  display: block;
}
