.main-nav {
  font-family: $primary-font;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-black;
  display: flex;
}

.main-nav__checkbox:checked ~ .main-list {
  display: flex;
}

.main-nav__dropdown-title {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__toggle {
  display: flex;
  width: 24px;
  height: 24px;
  position: relative;
  background-image: url("../../images/icons/stack.svg#burger");
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  z-index: -1;
  padding: 5px;
}

.main-nav__list {
  width: 100%;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 63px;
  left: 0;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  background-color: $basic-white;
  justify-content: flex-end;
  z-index: 1;

  @media (min-width: $tablet-width) {
    width: 436px;
    position: static;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    gap: 33px;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;
    width: 855px;
    font-size: 20px;
  }
}

.nav-list__link {
  text-decoration: none;
  color: $basic-black;
  font-family: $primary-font;
}

.nav-list__link--current {
  position: relative;

  @media (min-width: $tablet-width) {
    &::after {
      content: "";
      width: 100%;
      height: 2px;
      position: absolute;
      background-color: $bg-basic-green;
      left: 0;
      bottom: -10px;
    }
  }
}

