.nutrition__title {
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
}

.nutrition__motto {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
}

.nutrition__toogle {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    background-color: $bg-basic-green;
    text-decoration: none;
}