.owner-contacts__title {
    font-family: "Oswald", sans-serif;
    font-size: 36px;
    line-height: 36px;
    color: #000000;
}

.owner-contacts__label {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: $base-color-text;
}