.preposition {
  position: relative;
  color: $basic-white;
  background-image: url("../../images/catalog-bg-mob@1x.jpg");
  background-size: cover;
  text-align: center;
  font-size: 16px;
  line-height: 20px;

  &::before {
    position: absolute;
    content: "";
    top: 59px;
    left: 50%;
    transform: translateX(-50%);
    width: 78px;
    height: 80px;
    background-image: url("../../images/icons/stack.svg#icon-gift");

    @media (min-width: $tablet-width) {
      left: 77px;
      top: 50%;
      transform: translate(0, -50%);
    }

    @media (min-width: $desktop-width) {
      left: 50%;
      top: 56px;
      transform: translate(-50%, 0);
    }
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../../images/catalog-bg-mob@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../../images/catalog-bg-tab@1x.jpg");
  }

  @media (min-width: $tablet-width) and (min-resolution: 2dppx) {
    background-image: url("../../images/catalog-bg-tab@2x.jpg");
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../images/catalog-bg-desc@2x.jpg");
    height: 288px;
    width: 245px;
  }

  @media (min-width: $desktop-width) and (min-resolution: 2dppx) {
    background-image: url("../../images/catalog-bg-desc@2x.jpg");
  }
}

.preposition__desc {
  min-height: 290px;
  background-color: rgba(104, 183, 56, 0.85);
  margin: 0;
  padding: 187px 61px 20px 58px;

  @media (min-width: $tablet-width) {
    min-height: 200px;
    text-align: left;
    padding: 71px 125px 20px 421px;
  }

  @media (min-width: $desktop-width) {
    min-height: 60px;
    text-align: center;
    padding: 185px 42px 43px;
  }
}
