.present__text {
  padding: 189px 81px 78px 78px;
  background-color: $bg-basic-green;
  background-image: url("../../images/icons/stack.svg#icon-gift");
  background-size: 78px 80px;
  background-repeat: no-repeat;
  background-position: top 59px left 101px;
}
