.result-list__item {
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
    text-align: center;
}

.result-list__desc {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: $base-color-text;
    text-align: center;
}